.post_single {
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 20px !important;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post_single_image {
  margin-top: -60px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.post_single_image img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post_single-video,
.post_single-audio {
  margin-top: -60px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.post_single-video iframe,
.post_single-audio iframe {
  width: 100%;
  height: 400px;
  border: 0px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border-radius: 20px;
}

.post_single-gallery {
  margin-top: -60px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.post_single-gallery img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  margin-bottom: 30px;
}

.post_single-gallery .owl-dots {
  text-align: center;
  line-height: 0;
}

.post_single-gallery .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #f67280;
  margin: 0 6px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.post_single-gallery .owl-dot.active span {
  background-color: #f67280;
}

.post_single-gallery .owl-stage-outer {
  margin-bottom: 0px;
  border-radius: 20px;
}

.post_single_content .categorie {
  margin-bottom: 20px;
}

.post_single_content h4 {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post_single_content h4 a:hover {
  color: #f67280;
}

.post_single_content p {
  margin-bottom: 30px;
}

.post_single_info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.post_single_info li {
  margin-bottom: 0;
  font-size: 13px;
  color: #506172;
  text-transform: capitalize;
  font-weight: 400;
}

.post_single_body {
  margin-top: 30px;
}

.post_single_body h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.post_single_body .image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post_single_body .image img {
  border-radius: 5px;
}

.post_single_body .image p {
  color: #506172;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.post_single_body .quote {
  background-color: #f9f9ff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.post_single_body .quote i {
  font-size: 30px;
  color: #f67280;
}

.post_single_body .quote p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #152035;
  font-weight: 900;
}

.post_single_body .quote small {
  color: #506172;
  font-weight: 400;
}

.post_single_body .list {
  margin-bottom: 15px;
}

.post_single_body .list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.post_single_body .list li:before {
  background-color: #506172;
  border-radius: 50%;
  position: absolute;
  content: '';
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
}

.post_single_footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post_single_footer .tags ul li {
  background-color: #f9f9ff;
  padding: 4px 11px;
  margin-bottom: 5px;
  margin-right: 2px;
  border-radius: 20px;
  font-size: 13px;
  text-transform: capitalize;
  color: #506172;
  font-weight: 700;
}

.post_single_footer .tags ul li a:hover {
  color: #506172;
}

.post_single_footer .social-media {
  text-align: center;
  margin-left: auto;
}
