/* ------------------------------
		 Section
------------------------------ */
.section {
  margin-top: 65px;
  background-color: #f9f9ff;
}

.sectionTitle {
  margin-bottom: 30px;
  margin-top: 5px;
}

.sectionTitle h5 {
  text-transform: capitalize;
  position: relative;
}

.sectionTitle h5:after {
  background-color: #f67280;
  display: block;
  position: absolute;
  content: "";
  left: auto;
  top: -5px;
  width: 30px;
  height: 2px;
}

.sectionTitle p {
  margin-bottom: 0;
}
